<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Набронировал</title>
</head>
<body>
    <div>
        {% for booking in bookings %}
        <div style="display: flex; margin-bottom: 15px; margin-left: 30px">
            <img src="{{ url_for('static', path='images/' + booking.room_id|string + '.webp')}}"
                 alt="Фото">
            <div>
                <h1>{{ booking.id }}</h1>
                <p>{{ booking.room_id }}</p>
                <p>{{ booking.user_id }}</p>
                <p>{{ booking.date_from }}</p>
                <p>{{ booking.date_to }}</p>
                <p>{{ booking.total_days }}</p>
                <p>{{ booking.price }}</p>
                <p>{{ booking.total_cost }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>